.fluent-tooltip {
  z-index: 1000000;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  margin: 0;
  line-height: var(--lineHeightBase300);
  font-weight: var(--fontWeightRegular);
  font-size: var(--fontSizeBase300);
  font-family: var(--fontFamilyBase);
  text-align: left;
  background-color: var(--colorNeutralBackground1);
  color: var(--colorNeutralForeground1);

  &__content {
    filter: drop-shadow(0 0 2px var(--colorNeutralShadowAmbient))
      drop-shadow(0 4px 8px var(--colorNeutralShadowKey));
    overflow-wrap: break-word;
    cursor: default;
    max-width: 240px;
    box-sizing: border-box;
    line-height: var(--lineHeightBase200);
    font-size: var(--fontSizeBase200);
    font-family: var(--fontFamilyBase);
    background-color: var(--colorNeutralBackground1);
    color: var(--colorNeutralForeground1);
    padding: 4px 11px 6px;
    border-radius: var(--borderRadiusMedium);
    border: 1px solid var(--colorTransparentStroke);
    position: absolute;

    &[data-popper-placement^="above"] {
      --fui-positioning-arrow-offset: -4.242px;
      --fui-positioning-arrow-angle: -45deg;

      .fluent-tooltip__content-arrow {
        bottom: var(--fui-positioning-arrow-offset);
      }
    }

    &[data-popper-placement^="below"] {
      --fui-positioning-arrow-offset: -4.242px;
      --fui-positioning-arrow-angle: 135deg;

      .fluent-tooltip__content-arrow {
        top: var(--fui-positioning-arrow-offset);
      }
    }

    &[data-popper-placement^="before"] {
      --fui-positioning-arrow-offset: -4.242px;
      --fui-positioning-arrow-angle: 225deg;

      .fluent-tooltip__content-arrow {
        right: var(--fui-positioning-arrow-offset);
      }
    }

    &[data-popper-placement^="after"] {
      --fui-positioning-arrow-offset: -4.242px;
      --fui-positioning-arrow-angle: 45deg;

      .fluent-tooltip__content-arrow {
        left: var(--fui-positioning-arrow-offset);
      }
    }

    &-arrow {
      --fui-positioning-arrow-height: 8.484px;

      width: var(--fui-positioning-arrow-height);
      height: var(--fui-positioning-arrow-height);
      background-clip: content-box;
      background-color: inherit;
      z-index: -1;
      position: absolute;
      box-sizing: border-box;
      transform: rotate(var(--fui-positioning-arrow-angle));

      &::before {
        content: "";
        clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
        border-bottom-left-radius: var(--borderRadiusSmall);
        height: 100%;
        width: 100%;
        background-color: inherit;
        display: block;
        margin: -1px;
        border: 1px solid var(--colorTransparentStroke);
      }
    }
  }
}
